.info-top img{
    width: 92px;
    height: 92px;
    border-radius: 50%;
}
.info-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}
.user-info{
    width: calc(100% - 200px);
    line-height: 40px;
}

.user-title{
    padding: 20px;
    background-color: #f5f5f5;
    /* color: #fff; */
}
.info-item{
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 10px 20px;
}